<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %> <% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>

<!-- Content Block -->
<div class="container">
    <div class="registration-container">
        <h1>Congratulations You are Logged in!</h1>
    </div>
</div>
