<section class="grid-container-1">
  <h1>Welcome to CSE Motors!</h1>
  <picture>
    <source srcset="/images/vehicles/delorean.jpg" media="(min-width: 768px)" />
    <img
      src="/images/vehicles/delorean-tn.jpg"
      alt="delorean"
      width="200"
      height="102"
    />
  </picture>

  <article>
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <img
      src="/images/site/own_today.png"
      alt="own_today"
      width="500"
      height="600"
    />
  </article>
</section>
<div></div>
