@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  /* color palette for webpage */
  --primary-color: #2a6bac;
  --secondary-color: #133a7c;
  --tertiary-color: #081534;
  --accent-color: #47a8e5;
  --accent-color2: #f68f1e;
  --light-grey: #c6c6c6;
  --medium-grey: #939599;
  --dark-grey: #242021;
  --background: #ffffff;

  /* font styles for webpage */
  --font-heading: "Oswald", sans-serif;
  --font-paragraph: "Merriweather", serif;

  /* sizes */
  --font-base: 20px;
  --small-font: 0.8em;
  --large-font: 1.2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-paragraph);
  font-size: var(--font-base);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
/******* Headings ***************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 800;
  font-style: normal;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Header ***************/
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  overflow: hidden;
  padding: 20px 30px;
  font-family: var(--font-heading);
}
.siteName a {
  font-size: 2.5em;
  font-weight: 800;
  color: var(--primary-color);
  text-decoration: none;
}
.siteName a:hover {
  color: var(--secondary-color);
}
#tools a {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 10px;
}
#tools a:hover {
  color: var(--tertiary-color);
}

/******* Navigation ***************/
nav {
  font-family: var(--font-heading);
  background-color: var(--tertiary-color);
  color: white;
  padding: 10px 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

nav li:hover {
  color: var(--accent-color);
  cursor: pointer;
}

/******* Footer ***************/
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: start;
  padding: 10px;
  width: 100%;
}
.copyright {
  color: var(--tertiary-color);
  font-size: 0.8em;
}
