<!-- **** ADD-CLASSIFICATION **** -->

<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %> <% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>

<div class="container">
    <div class="add-class-container">
        <form id="addClassificationForm" class="form-container" action="/inv/add-classification" method="post">
            <div class="input">
                <label for="classification_name">Classification Name</label>
                <input
                    type="text"
                    id="classification_name"
                    name="classification_name"
                    required
                    pattern="[A-Za-z]+"
                    value="<%= locals.classification_name %>"
                    title="Name must contain alphabetic characters only!"
                />
                <p>Name must be alphabetic characters only!</p>
            </div>

            <div class="submit-button">
                <button type="submit">Add Classification</button>
            </div>
        </form>
    </div>
</div>
